*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#index{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 100vh 15vh;
    grid-template-areas:"encabezado        encabezado"
                        "productos         productos"
                        "pie_de_pagina     pie_de_pagina";
}

#productos{
    display: grid;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows: auto 7% auto auto;
    grid-template-areas:"encabezado        encabezado       encabezado"
                        "subtitle          subtitle         subtitle"
                        "productos         productos        confiteria"
                        "pie_de_pagina     pie_de_pagina    pie_de_pagina";
}

#locales{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto 80% auto;
    grid-template-areas:"encabezado        encabezado       encabezado"
                        "productos         productos        productos"
                        "pie_de_pagina     pie_de_pagina    pie_de_pagina";
}

#nosotros{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:"encabezado        encabezado"
                        "productos         productos"
                        "pie_de_pagina     pie_de_pagina";
}

#contactanos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 70vh;
    grid-template-areas:"encabezado        encabezado"
                        "productos         productos"
                        "pie_de_pagina     pie_de_pagina";
}


.header{
    background-color: blanchedalmond;
    grid-area: encabezado;
}

.subtituloProductos{
    background-color: beige;
    grid-area: subtitle;
}

.logo{
    background-color:blanchedalmond;
    grid-area: logo;
}

.productos{
    background-color: beige;
    grid-area: productos;
}
.confiteria{
    background-color: beige;
    grid-area: confiteria;
}

footer{
    background-color: blanchedalmond;
    grid-area: pie_de_pagina;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    min-height: 170px;
}
.logoIndex{
    display: flex;
    align-items: center;
}
.logoIndex img{
    height: 130px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
nav a{
    font-weight: 900;
    margin-right: 30px;
    padding-right: 40px;
    padding: 5px 10px;
}
nav a:hover{
    color: chocolate;
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}

ul{
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;;
}

footer{
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
#division-footer{
    display: flex;
}
.textoFooter{
    width: 50%;
    margin-top: 23px;
    text-transform: uppercase;
    line-height: 1.6;
}
.logoFooter{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 20px;
}

.tituloIndex{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    text-transform: uppercase;
}
.textoAlMedio{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
}


.fotoPortada{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.fotoPortada img{
    width: 80%;
    border-radius: 20px;
}
.tituloInicio{
    display: flex;
    padding: 30px;
    justify-content: center;
}



.subtitleSecciones{
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    text-transform: uppercase;
}
.subtituloIzquierdaPanaderia{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
.fotosProductos{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.fotosProductos img{
    border-radius: 15px;
    width: 40%;
}



.nosotrosTextoDerecha{
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
}
.nosotrosPadding{
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}



.txtLocales{
    text-align: center;
    padding-top: 100px;
    text-transform: uppercase;
}



form{
    width: 600px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    margin-top: 50px;
}
.paddingFieldset{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 15px;
}
.paddingForm{
    padding-bottom: 10px;
}
.paddingFormApellido{
    padding-left: 50px;
}
#boton{
    background: gray;
    padding: 15px;
}
#boton:hover{
    cursor: pointer;
}
.padding{
    padding: 7px;
}
.textoContactanos{
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 30px;
    text-transform: uppercase;
    text-align: center;
}



.slider{
    width: 58%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 15s infinite alternate ease-in;
    width: 400%;
}
.slider li{
    width: 100%;
}
.slider img{
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}