*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#index{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas:"encabezado        encabezado"
                        "productos         productos"
                        "pie_de_pagina     pie_de_pagina";
}

#productos{
    display: grid;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:"encabezado        encabezado       encabezado"
                        "subtitle          subtitle         subtitle"
                        "productos         productos        confiteria"
                        "pie_de_pagina     pie_de_pagina    pie_de_pagina";
}

#locales{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto 83% auto;
    grid-template-areas:"encabezado        encabezado       encabezado"
                        "productos         productos        productos"
                        "pie_de_pagina     pie_de_pagina    pie_de_pagina";
}
@media screen and (max-width:992px){
    #locales{
        grid-template-rows: auto auto auto;
    }
}

#nosotros{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 77% auto;
    grid-template-areas:"encabezado        encabezado"
                        "productos         productos"
                        "pie_de_pagina     pie_de_pagina";
}
@media screen and (max-width:992px){
    #nosotros{
        grid-template-rows: auto auto auto;
    }
}

#contactanos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas:"encabezado        encabezado"
                        "productos         productos"
                        "pie_de_pagina     pie_de_pagina";
}


.header{
    background-color: blanchedalmond;
    grid-area: encabezado;
}

.subtituloProductos{
    background-color: beige;
    grid-area: subtitle;
}

.logo{
    background-color:blanchedalmond;
    grid-area: logo;
}

.productos{
    background-color: beige;
    grid-area: productos;
}
.confiteria{
    background-color: beige;
    grid-area: confiteria;
}

footer{
    background-color: blanchedalmond;
    grid-area: pie_de_pagina;
}


.logoIndex{
    font-size: 25px;
    margin: 0;
}
.logoIndex img{
    display: flex;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 100px;
}
.gap{
    gap: 10px;
}
h2{
    color: rgba(0, 0, 0, 0.897);
}
h5{
    color: black;
}



ul{
    list-style: none;
}


body{
    font-family: 'Roboto', sans-serif;;
}


footer{
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
#division-footer{
    display: flex;
}
.textoFooter{
    font-size: medium;
    width: 70%;
    margin-top: 23px;
    text-transform: uppercase;
    line-height: 1.6;
    padding-right: 20px;
}
.logoFooter{
    display: flex;
    width: 30%;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 20px;
}
.logoFooter img{
    height: 100%;
}
@media (max-width:600px){
    .logoFooter img{
        height: 80%;
    }
    .textoFooter{
        font-size: smaller;
    }
}


.tituloIndex{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    text-transform: uppercase;
}
.textoAlMedio{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
    text-transform: uppercase;
}



.fotoPortada{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.fotoPortada img{
    width: 80%;
    border-radius: 20px;
}
.tituloInicio{
    display: flex;
    padding: 30px;
    justify-content: center;
}



.subtitleSecciones{
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    text-transform: uppercase;
}
.subtituloIzquierdaPanaderia{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
.fotosProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 10px;
}
.fotosProductos img{
    border-radius: 15px;
    width: 40%;
}
@media screen and (max-width:660px){
    .subtituloIzquierdaPanaderia{
        font-size: 23px;
    }
}



.imagenNosotros{
    padding-bottom: 15px;
}
.imagenNosotros img{
    display: flex;
    height: 100%;
    width: 80%;
    border-radius: 7px;
}
.textoNosotros{
    padding-top: 7%;
}



.txtLocales{
    text-align: center;
    padding-top: 100px;
    text-transform: uppercase;
    padding-left: 50px;
    padding-right: 50px;
}
.paddingLocales{
    padding-top: 60px;
}



form{
    width: 590px;
    margin: auto;
    background: rgb(255, 235, 205);
    border-radius: 15px;
    margin-top: 50px;
    border-radius: 15px;
}
.paddingFieldset{
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
}
.paddingForm{
    padding-bottom: 10px;
}
#boton{
    background: gray;
    color: white;
    padding: 10px;
}
#boton:hover{
    cursor: pointer;
}
.padding{
    padding: 7px;
}
.textoContactanos{
    padding-left: 30px;
    padding-top: 90px;
    padding-bottom: 130px;
    padding-right: 30px;
    text-transform: uppercase;
    text-align: center;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 15px;
}
textarea{
    min-height: 100px;
    max-height: 100px;
    max-width: 100%;
    min-width: 100%;
}
@media (max-width:590px){
    form{
        width: 100%;
    }
}



.slider{
    width: 53%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 15s infinite alternate ease-in;
    width: 400%;
}
.slider li{
    width: 100%;
}
.slider img{
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media (max-width:920px){
    .slider{
        width: 90%;
    }
}