h1, h2, h3, h4, h5{
    color: rgba(0, 0, 0, 0.897);
}
ul{
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
.subtitleSecciones{
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 2px 2px map-get($colores-de-la-pagina, sombraTextos)
}