.logoIndex {
    font-size: 25px;
    margin: 0;

    & img {
        display: flex;
        height: 150px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 90px;
    }
}

.colorDesplegable {
    background-color: map-get($colores_de_la_pagina, principal);
}

.gap {
    gap: 8px;
}