.tituloIndex {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px map-get($colores_de_la_pagina, sombraTextos );
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 1900px;
}

.textoAlMedio {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    text-shadow: 1px 1px map-get($colores_de_la_pagina, sombraTextos );
    text-transform: uppercase;
}

.fotoPortada {
    display: flex;
    justify-content: center;
    padding-top: 50px;

    & img {
        width: 80%;
        border-radius: 10px;
    }
}
