form{
    width: 590px;
    margin: auto;
    background: map-get($colores_de_la_pagina, principal);
    border-radius: 15px;
    margin-top: 50px;
    border-radius: 15px;
}
.paddingFieldset{
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
}
.paddingForm{
    padding-bottom: 10px;
}
#boton{
    background: $color-bg-form;
    color: $color-boton-form;
    padding: 10px;

    &:hover{
        cursor: pointer;
    }
}
.padding{
    padding: 7px;
}
.textoContactanos{
    padding-left: 30px;
    padding-top: 90px;
    padding-bottom: 130px;
    padding-right: 30px;
    text-transform: uppercase;
    text-align: center;
}
input, textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 7px;
    font-size: 15px;
    background-color: map-get($colores_de_la_pagina, secundario);
    border-radius: 5px;
}
textarea{
    min-height: 100px;
    max-height: 100px;
    max-width: 100%;
    min-width: 100%;
}
