#index{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas:"encabezado        encabezado"
                        "productos         productos"
                        "pie_de_pagina     pie_de_pagina";
}

#productos{
    display: grid;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:"encabezado        encabezado       encabezado"
                        "subtitle          subtitle         subtitle"
                        "productos         productos        productos"
                        "pie_de_pagina     pie_de_pagina    pie_de_pagina";
}

#locales{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto 83% auto;
    grid-template-areas:"encabezado        encabezado       encabezado"
                        "productos         productos        productos"
                        "pie_de_pagina     pie_de_pagina    pie_de_pagina";
}


#nosotros{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 77% auto;
    grid-template-areas:"encabezado        encabezado"
                        "productos         productos"
                        "pie_de_pagina     pie_de_pagina";
}

#contactanos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas:"encabezado        encabezado"
                        "productos         productos"
                        "pie_de_pagina     pie_de_pagina";
}

.header{
    background-color: map-get($colores_de_la_pagina, principal);
    grid-area: encabezado;
}
.subtituloProductos{
    background-color: map-get($colores_de_la_pagina, secundario);
    grid-area: subtitle;
}
.productos{
    background-color: map-get($colores_de_la_pagina, secundario);
    grid-area: productos;
}
footer{
    background-color: map-get($colores_de_la_pagina, principal);
    grid-area: pie_de_pagina;
}
