.subtituloPanaderia{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 2px 2px map-get($colores_de_la_pagina, sombraTextos );
}
.fotosProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 13px;
    width: 100%;

    & img{
        border-radius: 15px;
        width: 350px;
        height: 320px;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        opacity: 0.97;
    }

    & img:hover{
        opacity: 1;
        transform: scale(1.03);
    }
}
